/* instellingen vormgeving */

body {
    background-color: rgb(255, 255, 255);
    font-family: oneplusfont;
}

/* vormgeving classes */

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* vormgeving hoofding */

header img {
    width: 150px;
    padding-left: 2%;
    padding-right: 2%;

}

#logonav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}


header li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;

}

header i {
    font-size: 2rem;
    color: red;
    padding-top: 0px;
}

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



header a{
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: black;
    padding: 15px 7px 15px 7px;
    font-size: 15px;
    border-radius: 10px;

}

header a:hover{
    color: red;
    background-color: rgb(245, 245, 245);


}

header{
    padding: 7px;
}


.extraicoontjes {
    padding-top: 5px;
}

.ad1{
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    max-height: 400px;

}



.gsmmetjes{
    width: 100%;
    transform: translateY(-15%);
    border-radius: 5;


}


@font-face {
    font-family: oneplusfont;
    src: url(fonts/SlateForOnePlus-Regular.ttf);

}

#searchbalk{
    border:0px rgb(211, 211, 211);
    border-radius: 7.5px;
    height: 20px;
    width: 50%;
    padding: 5px;
    background-color: #f5f5f5;
    transition: all .2s ease-in-out;

}

#searchbalk:hover, #searchbalk:focus{
    background-color: rgb(216, 216, 216);
    
}

